body {
    background-size: cover;
    background-image: url(https://external-preview.redd.it/vlWH8jisieHKBvjK4Pv5xrgfqfHiigyfeN6eJnZs1r4.jpg?width=1080&crop=smart&auto=webp&s=e7d287654fca4ca9a29f9ddd6cb447ffff51699d);
    background-position: center;
    color: white;


}

.app-container {
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
}

h1{
    text-align:center;
    color: #FFD700; 
  text-shadow: 
    0 0 10px #FFAA00,
    0 0 20px #FF8800,
    0 0 30px #FF6600,
    0 1px 2px rgba(0,0,0,0.8); 
    font-family: 'Cinzel', 'Georgia', serif;
}

.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
}


.card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  color: black;
}
.card span{
  color: #1a1a1a;
  background: linear-gradient(45deg, #d4af37, #f9e27d);
  border-radius: 20px;
  border: 1px solid #b8860b;
}